*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow: hidden;
    font-size: 14px;
    height: 1200px;
}

#main{
    margin: 10rem auto;
}

.mainInside{
    border: 1px solid rgb(241, 238, 238);
    box-shadow:rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: auto;
    width: 35rem;
}

img{
    height: 10rem;
}

.inside{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 30rem;
    border: 1px solid rgb(241, 238, 238);
    box-shadow:rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 2rem 0 1rem 2rem;
    background-color: #f0f2f6;
}

.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.detail{
    margin: 4rem 0 0 0;
}

.price{
    border: 1px solid rgb(241, 238, 238);
    height: 1.5rem;
    width:4rem;
    margin: 4rem 0 0 5rem;
    box-shadow:rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    text-align: center;
    background-color: rgb(179, 247, 102);
}

p{
    text-align: center;
}
@media all and (max-width: 900px){
    body{
        overflow: hidden;
        font-size: 14px;
        width: 500px;
    }
}