*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #f1f3f6;
}

h2{
    text-align: center;
    margin: 3rem 0 0 0;
}

#section1,.mobileSection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

img{
    height: 15rem;
}

#details{
    height: 10rem;
    width: 11rem;
}

#main{
    margin: 5rem 0 0 5rem;
}

#name{
    margin: 0.5rem 0 0.5rem 1rem;
}

#productName{
    margin: 0 0 0.5rem 0;
}

#sellingPrice{
    font-weight: bold;
}

#Discount{
    color: red;
    font-weight:bold;
}

#price{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#originalPrice{
    text-decoration: line-through;
}

button{
    height: 2rem;
    width: 5rem;
    background-color: rgb(220, 236, 236);
}

button:active{
    background:olive;
}

button:focus{
    background:olive;
}

button:hover{
    cursor: pointer;
}

.cart{
    margin: 2rem 1rem 1rem 2.5rem;
}

@media (min-width: 768px) and (max-width: 900px){
    #section1,.mobileSection{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:400px) and (max-width:767px){
    #section1,.mobileSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (max-width:399px){
    #section1,.mobileSection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}