*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main{
    border: 1px solid black;
    margin: 7rem auto;
    width: 30rem;
    box-shadow: 3px 3px 3px 3px rgb(155, 196, 155, 155);
    /* background-color: blue; */
}


h2,.info{
    text-align: center;
    margin: 1rem auto;
}

.formDetails{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* background-color: red; */
}

.firstName,.lastName,.email,.password,.reEnterPassword{
    text-align: center;
    font-weight: bold;
    margin: 0.5rem 0;
}

input[type=text], input[type=password], input[type=email]{
    width: 15rem;
    margin : 0.1rem auto;
    padding: 0.6rem;
    /* background-color: green; */
    box-shadow: 3px 3px 3px 3px rgb(55, 125, 95, 155);
}

button{
    width: 10rem;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: rgb(81, 227, 227);
}

p > a{
    font-weight: bold;
}

.account{
    text-align: center;
    margin: 0 0 1rem 0;
}

.register:hover{
    background-color: silver;
}

@media all and (max-width: 1000px){
    .main{
        border: 1px solid black;
        margin: 2rem auto;
        box-shadow: 3px 3px 3px 3px rgb(155, 196, 155, 155);
        background-color: blue;
    }
}


